.practice {
    background-image: url(https://www.wallpaperflare.com/static/809/659/580/minimalism-techno-tatof-abstract-wallpaper.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
}